svg {
    overflow: visible;
}

rect {
    overflow: visible;
}


#mainCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#arrow {
    pointer-events: none;
}

path.connectionLine {
    /*pointer-events: none;*/
}

.card {
    border-radius: 10px;
}

.container {
    display: flex;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full viewport height */
    margin-left: 3em;

}

#dragDropCard {
    position: absolute;
    width: 150px;
    height: 80%;
    backdrop-filter: blur(10px);
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.draggable {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: grab;
    margin-top: 2em;
}

.draggable-copy {
    position: absolute;
    opacity: 0.7;
    z-index: 10;
}

.draggableSVG {
    width: 100px;
}

.connectionNode {
    fill: rgba(0, 0, 0, 0.253);
    transition-duration: 0.1s;
}

.connectionNode:hover {
    fill: rgba(0, 0, 0, 0.979);
}

body,
html {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
}

textarea:focus {
    border: none;
    outline: none;
}

.disablePointerEvents {
    pointer-events: none;
    user-select: none;
}

.red {
    fill: red;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.MenuButton {
    backdrop-filter: blur(10px);
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    width: 3em;
    height: 3em;
    border-radius: 0.5em;

    transition: background-color 0.1s;
}

.MenuButton>span {
    font-size: xxx-large;
    user-select: none;
}

.MenuButton:hover {
    background-color: rgba(0, 0, 0, 0.089);
}

.MenuButton:active {
    background-color: rgba(0, 0, 0, 0.267);
}

.MenuContainer {
    backdrop-filter: blur(10px);
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    position: absolute;
    right: -25em;
    top: 10vh;
    transition: right 1s;
    transition-timing-function: cubic-bezier(0.33, 0.58, 0.32, 1.28);

    align-items: center;
    /* Center vertically */
    height: 80vh;
    width: 20em;
    /* Full viewport height */
    margin-right: 2em;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.MenuContent {
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: xxx-large;
    margin: 1em;
}